@import url(./base.css);
@import url(./popup.css);

body {
    background-color: var(--beige-color);
}

.detail-menu__card {
    /* width: 355px; */
    background-color: var(--white-color);
    margin: 0 150px;
}

.detail-menu__card-image {
    margin-bottom: 25px;
    height: 241px;
    box-sizing: border-box;
}

.detail-menu h3 {
    height: 43px;
}

.detail-menu__info-content {
    height: 76px;
}

@media (max-width: 1200px) {
    .banner-item {
      height: 484px;
  }
  .banner {
    width: 100%;
    height: 484px;
    position: relative;
  }
  
  .home__main-menu-card {
    margin-top: 70px;
  }
  }
  
  @media (max-width: 991px) {
    .detail-menu__card {
        margin-top: 0 !important;
    }
}
  
  @media (max-width: 765px) {
    .detail-menu__card {
        margin-top: 50px !important;
    }
  
  }
  
  @media (max-width: 576px) {
   
  }