@import url(./base.css);

.km-1{
    background-color: var(--beige-color);
}

.km-1__image {
    /* position: relative; */
    background-image: url(../image/trang-chu/banner_1.jpg);
    height: 507px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    /* opacity: 0.8; */
}

.page-flex {
    display: flex;
    justify-content:space-between;
}

.page-flex a:hover {
    font-weight: 500;
    color: var(--orange-color);
}

p, li, .page-flex {
    font-size: 18px;
}

@media (max-width: 1200px) {
    .km-1__image {
        height: 397px
    }
    .extra-large-text {
        font-size: 28px;
    }
}

@media (max-width: 992px) {
    .km-1__image {
        height: 300px
    }
    .extra-large-text {
        font-size: 24px;
    }
}

@media (max-width: 765px) {
    .km-1__image {
        height: 233px
    }
}

